{% liquid
  assign cardItemImg = productItem.featured_image | image_url: width: 248 | image_tag: alt: "", class: "product-card__img"
  assign cardItemTitle = productItem.title
  assign cardItemUrl = productItem.url
  assign cardItemPrice = productItem.price
  assign isAvailable = productItem.available
  assign soldOutLabel = "products.product.sold_out" | t
  assign colorLabel = "products.product.color.label" | t
%}

<article class="products__card product-card">
  {{ cardItemImg }}
  <div class="product-card__info">
    {% unless isAvailable %}
      <ul class="product-card__tags tags" role="list">
        <li class="tags__item tags__item--sold-out">{{ soldOutLabel }}</li>
      </ul>
    {% endunless %}
    <h3 class="product-card__heading">
      <a class="link product-card__link" href={{ cardItemUrl }}>{{ cardItemTitle }}</a>
    </h3>
    <fieldset class="product-card__fieldset">
      <legend class="visually-hidden color__legend">
        <span aria-hidden="true">{{ colorLabel }}-White</span>
      </legend>
      <div class="radio-group">
        <div class="radio radio--color radio--small">
          <input
            type="radio"
            value="0"
            id="small-color_0"
            name="color-card_1"
            class="radio__input">
          <label
            for="small-color_0"
            class="radio__label"
            data-tooltip="Antique">
            <span class="visually-hidden">Antique Brass</span>
            <span class="color" style="background:#C88252;"></span>
          </label>
        </div>
        <div class="radio radio--color radio--small">
          <input
            type="radio"
            value="1"
            id="small-color_1"
            name="color-card_1"
            class="radio__input">
          <label
            for="small-color_1"
            class="radio__label"
            data-tooltip="Apricot">
            <span class="visually-hidden">Apricot Peach</span>
            <span class="color" style="background:#F8CAB1;"></span>
          </label>
        </div>

        <div class="radio radio--color radio--small">
          <input
            type="radio"
            value="2"
            id="small-color_2"
            name="color-card_1"
            class="radio__input">
          <label
            for="small-color_2"
            class="radio__label"
            data-tooltip="Pink">
            <span class="visually-hidden">Pink</span>
            <span class="color" style="background:#E9A0A7;"></span>
          </label>
        </div>
        <div class="radio radio--color radio--small">
          <input
            type="radio"
            value="3"
            id="small-color_3"
            name="color-card_1"
            class="radio__input">
          <label
            for="small-color_3"
            class="radio__label"
            data-tooltip="Purple">
            <span class="visually-hidden">Purple</span>
            <span class="color" style="background:#BA9BE5;"></span>
          </label>
        </div>
      </div>
    </fieldset>
    <h4 class="product-card__price">
      <abbr>{{ cardItemPrice | money_with_currency }}</abbr>
    </h4>
  </div>
</article>