

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}



{% liquid
    assign productTitle = product.title
    assign productPrice = product.selected_or_first_available_variant.price | money_with_currency
    assign includeTaxLabel = "products.product.include_taxes" | t
    assign sizeLabel = "products.product.size.label" | t
    assign colorLabel = "products.product.color.label" | t
    assign quantityLabel = "products.product.quantity.label" | t
    assign quantityDecreaseLabel = "products.product.quantity.decrease" | t
    assign quantityIncreaseLabel ="products.product.quantity.increase" | t
    assign addToCartLabel = "products.product.add_to_cart" | t
    assign buyItNowLabel = "products.product.product_buy_it_now" | t
    assign productDescription = product.description
    assign accordeonBlocks = section.blocks | map: 'type' | where: 'accordeon' 
%}

<script>
    var formatCurrency = `{{shop.money_with_currency_format}}`
</script>

<main 
    id="main" 
    class="main" tabindex="-1"  
    data-section-id="{{- section.id -}}" 
    data-section-type="alternate-main-product" 
    data-handle="{{- product.handle -}}"
    >
        <div class="container">
            <section class="product">
                <div class="product__container container">
                    <div class="product__info">
                       <h1 class="product__heading">{{productTitle}}</h1>
                       <h2 class="product__price"><abbr>{{productPrice}}</abbr></h2>    
                       <p class="product__tax"><small>{{includeTaxLabel}}</small></p>
                       {% form 'product', product, id: 'product-form' %} 
                         <input type="hidden" name="id" value="{{- product.selected_or_first_available_variant.id -}}">
                         <input type="hidden" name="sections" value="alternate-header,alternate-main-product">
                         {%- for product_option in product.options_with_values -%}
                         {%- if product_option.name == "Size" -%}
                         <fieldset class="product__fieldset product__fieldset--size">
                                <legend class="size__legend">{{ product_option.name }}</legend>
                                <div class="radio-group">
                                {%- for value in product_option.values -%}
                                    <div class="radio">
                                        <input 
                                            type="radio"
                                            name="options[{{ product_option.name | escape }}]"
                                            id="Option-{{- value | escape -}}"  
                                            value="{{ value | escape }}" class="radio__input"
                                        {% if product_option.selected_value == value -%}
                                            checked
                                            aria-checked="true"
                                        {%-else -%}
                                            aria-checked="false"
                                        {%- endif -%}>
                                        <label for="Option-{{- value | escape -}}" class="radio__label">{{ value }}</label>
                                    </div>
                                {%- endfor -%}
                                </div>
                         </fieldset>
                        {%- endif -%}
                        {%- if product_option.name == "Color" -%}
                        <fieldset class="product__fieldset product__fieldset--color">
                        <legend class="color__legend">{{ product_option.name }}<span class="color-name" aria-hidden="true">-{{- product_option.selected_value | escape -}}</span></legend>
                            <div class="radio-group">
                                {%- for value in product_option.values -%}
                                <div class="radio radio--color">
                                    <input  
                                        type="radio" 
                                        id="Option-{{- value | escape -}}"  
                                        name="options[{{ product_option.name | escape }}]"
                                        value="{{- value | escape -}}" 
                                        class="radio__input"
                                        {% if product_option.selected_value == value -%}
                                            checked
                                            aria-checked="true"
                                        {%-else -%}
                                            aria-checked="false"
                                        {%- endif -%}>
                                        <label  for="Option-{{- value | escape -}}" class="radio__label" data-tooltip="{{- value | escape -}}">
                                            <span class="visually-hidden">{{- value | escape -}}</span>
                                            <span class="color color--bordered" style="background:{{-value | escape -}}"></span>
                                        </label>
                                </div>
                                {%- endfor -%}
                            </div>
                        </fieldset>
                        {%- endif -%}
                        {%- endfor -%}
                        <fieldset class="product__fieldset product__fieldset--quantity">
                                <legend class="quantity__legend"><label for="quantity">{{quantityLabel}}</label></legend>
                                <div class="quantity__controls">
                                    <input id="quantity" type="number" class="quantity__input" name="quantity"
                                        value="1" min="1" max="9999">
                                    <button class="quantity__button quantity__button--decrease" type="button">
                                        <span class="visually-hidden">{{quantityDecreaseLabel}}</span>
                                    </button>
                                    <button class="quantity__button quantity__button--increase" type="button">
                                        <span class="visually-hidden">{{quantityIncreaseLabel}}</span>
                                    </button>
                                </div>
                        </fieldset>
                        <div class="button-group">
                            <button id="ATC-btn" class="button button--primary" type="submit" name="type" value="add">{{addToCartLabel}}</button>
                            <button class="button button--secondary" type="submit" name="type" value="buy">{{buyItNowLabel}}</button>
                        </div>
                        <span class="error">{{current_variant.price}}</span>
                    {% endform %}
                    <div class="product__description">
                        {{productDescription}}
                    </div>
                    </div>
                   {{ product.featured_image | image_url: width: 473 | image_tag: class: "product__img" }}
                </div>
              {% if accordeonBlocks.size > 0 %}
              <ui-accordion>
                {% for block in section.blocks %}
                    <ui-accordion-item id="{{ block.id }}" {{- block.shopify_attributes -}}>
                        <span slot="label">{{block.settings.heading}}</span>
                        <div slot="content">
                            {{block.settings.text}}
                        </div>
                    </ui-accordion-item>
                {% endfor %}
              </ui-accordion>
              {% endif %}
            </section>
        </div>
</main>

{% schema %}
    {
      "name": "Product",
      "settings": [],
      "limit":1,
      "templates": ["product"],
      "blocks": [
          {
            "name":"Info",
            "type":"accordeon",
            "settings": [
               {
                 "id": "heading",
                 "type":"text",
                 "label":"Heading"
               },
              {
                "id": "text",
                "type":"richtext",
                "label":"Text"
              }
            ]
          }
      ],
      "presets": [
         {
           "name": "Accordeon",
           "blocks": [
             {
                "type":"accordeon"
             }
           ]
           
         }
      ]
    }
{% endschema %}
